.espaciado
{
    margin-bottom:20px;
    margin-top:20px;
    
}

img{
    margin-top:10px;
    margin-bottom:10px;
}

.borde{
    margin-bottom:10px;
}



.btn-primary{
    color:#000000 !important;
}

#es{
   margin-top:1px;
}

